<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gao.dreamaccount"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".DreamAccountApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.WelcomActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityNewDream" />
        <activity android:name=".activity.ActivityNewAccount" />
        <activity android:name=".activity.ActivityDreamPager" />
        <activity android:name=".activity.ActivityAccountPager" />
        <activity android:name=".activity.ActivitySetting" />
        <activity android:name=".activity.ActivityAccountYearPager" />
        <activity android:name=".activity.ActivityAccountMonthPager" />
        <activity android:name=".activity.ActivityAccountDayPager" />
        <activity android:name=".activity.ActivityAccountTotalPager" />
        <activity android:name="lecho.lib.filechooser.FilechooserActivity" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />


        <receiver android:name=".receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="com.dreamaccount.gao" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="547c7f89fd98c5f6a5000895" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="gao" />
    </application>

</manifest>
